@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

html, body {
  width: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

/*
-------------------------------------------------------------------------------
  Page Header
-------------------------------------------------------------------------------
*/
header {
  height: 10vh;
  min-height: 60px;
  width: 100%;
  background-color: #FF402E;
  display: flex;
  align-items: center;
}

.container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

h1 { /* oddly is not centering via flexbox */
  color: white;
  font-size: 2.5em;
  font-family: 'VT323';
}

/*
-------------------------------------------------------------------------------
  Filters
-------------------------------------------------------------------------------
*/
.filters {
  height: 15vh;
  display: flex;
  align-items: center;
}

.filter-container {
  height: 100%;
  width: 40%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-filter {
  height: 25%;
  width: 55%;
}

.select-filter {
  height: 25%;
  width: 30%;
}

/*
-------------------------------------------------------------------------------
  Posts
-------------------------------------------------------------------------------
*/

.post {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: #E7E8E5;
  margin-bottom: 2vh;
  overflow: visible;
}

.post-info {
  width: 95%;
  margin: 0 auto;
}

.information {
  height: 90%;
  width: 100%;
  display: flex;
}

.votes {
  height: 100%;
  width: 7.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.votes i {
  font-size: 3em;
}

.votes p {
  font-size: 3em;
}

.image {
  height: 100%;
  width: 32.5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

.details {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}

.details-container {
  height: 100%;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.opening {
  width: 100%;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;

}

.from-now {
  height: 100%;
  width: 40%;
}

.meta {
  height: 50%;
  width: 70%;
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
}

.comments {
  width: 80%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.all-comments{
  height: 80%;
  width: 100%;
}

.comments-component {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.single-comment {
  width: 100%;
  margin-bottom: 2px;
  background-color: white;
}

.single-comment p {
  margin-left: 2%;
}

.comment-meta {
  display: flex;
  flex-direction: row;
}

.comment-meta a {
  margin-left: 5px;
  font-size: 1.2em;
}

.post-btns {
  height: 5vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.single-post-btn {
  height: 5vh;
  width: 10vw;
  margin-right: 2vh;
  background-color: #FF402E;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px gray;
}

.single-post-btn:hover {
  background-color: #0C232E;
}

.single-post-btn a {
  height: 100%;
  width: 100%;
  color: white;
  font-size: 1.35em;
  text-decoration: none;
}


/*
-------------------------------------------------------------------------------
  Post Form
-------------------------------------------------------------------------------
*/
aside {
  height: 10vh;
  min-height: 60px;
  width: 100%;
  background-color: #FF402E;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0px 5px 1px gray;
}

aside header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  color: white;
  font-size: 3.5em;
  font-family: 'VT323';
}

.active-post {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.align-post-header {
  height: 15%;
  width: 100%;
  margin: 0 auto;
  align-self: flex-start;
}

.post-form {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hover-post {
  background-color: #0C232E;
}

.post-form form {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.form-input {
  height: 20%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.form-input input {
  padding-left: 1%;
  font-size: 1.5em;
  box-sizing: border-box;
  height: 60%;
  width: 100%;
}

.post-form form label {
  font-family: "Architects Daughter";
  font-size: 1.25em;
  color: white;
  align-self: flex-start;
}

.form-submit {
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items:flex-end;

}

.form-submit button {
  font-family: 'VT323';
  font-size: 2.25em;
  color: white;
  width: 40%;
  height: 70%;
  border: none;
  background-color: #0C232E;
  border-radius: 5px;
}

footer {
  height: 15vh;
}

/*
-------------------------------------------------------------------------------
  Single Post Page
-------------------------------------------------------------------------------
*/

.single-post {
  height: 70vh;
  width: 90%;
  margin: 0 auto;
  margin-top: 2vh;
  background: #E7E8E5;
  display: flex;
  align-items: center;
}

.single-post form {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post-image {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.post-image input {
  height: 10%;
}

.post-image img {
  height: 85%;
}

.post-details {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.post-details input {
  height: 80%;
  width: 80%;
  font-size: 1.5em;
}

.post-title {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
}

.post-author {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
}

.post-body {
  height: 70%;
  width: 100%;
}

.post-comments {
  height: 100%;
  width: 40%;
}

.post-votes {
  height: 80%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post-votes i {
  font-size: 7em;
}

.post-votes p {
  font-size: 5em;
}
